body 
{
	background-color: #4A766E;
}
#header
{
	width: 100%;
}
#content
{
	margin: 10px 240px;
}
h1
{
	font-family: "Tekton Pro";
	color: white;
	text-align: center;
}
.table
{
	width: 700px;
	margin: 50px 50px;
	text-align: justify;
	font-size: 18px;
	font-family: "Tekton Pro";
	color: white;
}
img 
{
	width: 300px;
	height: 400px;
	border-radius: 50px;
}
.img1 
{
	width: 100px;
	height: 100px;
	border-radius: 10px;
	
}
.img1:hover
{
	-webkit-transform:scale(2,1.5);
}